body {
  max-width: 100%;
  max-height: 100%;
  margin: 1vw;
  box-sizing: border-box;
}

p {
  text-align: center;
  margin: 0px;
}

#picturesListContainer {
  display: table;
}

.picture {
  float: left;
  border: 6px solid white;
}

.tagUnselected {
	display: inline-block;
	color: #FFF;
	font-size: 15px;
	text-align: center;
	margin-left: 0px;
	margin-top: 0px;
	border: 1px solid rgb(129, 140, 158);
	white-space: nowrap;
	margin-bottom: 5px;
	padding: 1px 5px;
	background-color: rgb(129, 140, 158);
	border-radius: 5px;
}
.tagUnselected:hover {
	color: rgb(129, 140, 158);
	background-color: #FFF;
}

.tagSelected {
	display: inline-block;
	color: #FFF;
	font-size: 15px;
	text-align: center;
	margin-left: 0px;
	margin-top: 0px;
	border: 1px solid #00CC00;
	white-space: nowrap;
	margin-bottom: 5px;
	padding: 1px 5px;
	background-color: #00CC00;
	border-radius: 5px;
}
.tagSelected:hover {
	color: #00CC00;
	background-color: #FFF;
}

.deleteButton {
	display: inline-block;
	color: #FFF;
	font-size: 15px;
	text-align: center;
	margin-left: 0px;
	margin-top: 0px;
	border: 1px solid #FF0000;
	white-space: nowrap;
	margin-bottom: 5px;
	padding: 1px 5px;
	background-color: #FF0000;
	border-radius: 5px;
	width: 60%;
}

.deleteButton:hover {
	color: #FF0000;
	background-color: #FFF;
}

.table {
	display: table;
	width: 100%;
	margin: auto;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	border-bottom: 1px solid #FF0000;
	margin: 10%;
}