extends layout

block content
	.borderHorizontal.borderTop
	.borderHorizontal.borderBottom
	.hamburgerPlaceholder
		.hamburgerSlice
		.hamburgerSlice
		.hamburgerSlice
	.smallLogoPlaceholder
		.firstT
			h3 T
		.secondSquared
			h3 SQUARE
	.positionIndicatorsContainer
	.resizableWindow.globalMargin
		#content_left.content
			#frontPage.image.resizable.background
				.shade
				.logoLeft.content
					.tHorizontal
					.tVertical
					.bottomDash
				.moto
					p.
						From thought to
					p.
						concept and beyond...
			#portfolio.resizable
				#portfolioExterior.image.portfolioItem.background
					.itemShade(onclick='tSquareModule.galleryFilter("exterior")')
					h2.portofolioH2.
						Exterior
				#portfolioInterior.image.portfolioItem.background
					.itemShade(onclick='tSquareModule.galleryFilter("interior")')
					h2.portofolioH2.
						Interior
			#aboutUs.content.resizable.background
				h1.
					We are who we are
				h3.
					Lorem iosum dolor sit amet, consectetur adipisicinQ eut, sed
					do eiusmod tempor incididurit ut labore et dolore macna
					aligua. Ut enim ad minim veriiam, quis nostrud exercitation
					ullamco laboris fis’ ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate veut esse
					cillum dolore eu fuQiat nulle panatur, Excepteur sint occaecat
					cupidatat non proident, sunt in culpa qui officia deserunt
					mollit anim id est laborum.
			#map.content.resizable
				<iframe width='100%' height='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v4/3picioare.263c8f3b/attribution,zoompan,geocoder,share.html?access_token=pk.eyJ1IjoiM3BpY2lvYXJlIiwiYSI6Ijc0MjMwMjBiOTMxMzk5Nzc4YmMzMmM4N2Q0OWJmZGE1In0.y9eZyD7X2xmYZUJzuyqJwg'></iframe>

		#content_right.content
			#contact.content.resizable
				h1.
					Contact Us
				h3.
					Lorem iosum dolor sit amet, consectetur adipisicinQ eut, sed
					do eiusmod tempor incididurit ut labore et.
				.addresses
					h2.
						contact@tsquared.com
					h2.
						+40 7 69 60 63 57
			#social.content.resizable
				#chat.social.background
				#aboutYou.social.background
					h2.
						Want to join our team?
					.submitCV
						h3.
							SUBMIT YOUR CV
						h3.
							Comming soon
			#portfolio.resizable(style={ 'right': "0%"})
				#portfolioConcepts.image.portfolioItem.background
					.itemShade(onclick='tSquareModule.galleryFilter("concepts")')
					h2.portofolioH2.
						Concepts
				#portfolioPhotography.image.portfolioItem.background
					.itemShade(onclick='tSquareModule.galleryFilter("photography")')
					h2.portofolioH2.
						Photography
			#frontPage.image.resizable.background.right
				.logoRight
				.moto
					p.
						From thought to
					p.
						concept and beyond...
				.shade.resizable