doctype html
html
  head
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title= title
    style#styleDynamic(type='text/css')
    style#renderingStyles(type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.11.3.min.js")
    script(src="/javascripts/tSquare.js")
  body
    block content
    script.
      $(document).ready(tSquareModule.init());