doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.11.3.min.js")
    script(src="/javascripts/tSquare.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    block content
    script.
      $(document).ready(initTsquare());