@font-face {
    font-family: gothamrnd;
    src: url(/fonts/gothamrnd-light.otf);
}

@font-face {
    font-family: gothamrnd;
    src: url(/fonts/gothamrnd-bold.otf);
	font-weight: bold;
}

@font-face {
    font-family: gothamrnd-book;
    src: url(/fonts/gothamrnd-book.otf);
}

/* 
gothamrnd-bold.otf
gothamrnd-boldital.otf
gothamrnd-book.otf
gothamrnd-bookital.otf
gothamrnd-lightital.otf
gothamrnd-medital.otf
gothamrnd-medium.otf */

body {
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.border {
	position: fixed;
	z-index: 3;
	top: 0%;
}
.positionIndicatorsContainer {
	position: fixed;
	height: 4vw;
	z-index: 4;
	right: 0%;
	top: 42%;
}

.positionIndicator {
	width: 0.3vw;
	height: 0.3vw;
	border: 0.1vw solid rgb(6, 14, 37);
	border-radius: 1vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1vw;
	background-color: rgb(6, 14, 37);
	box-sizing: border-box;
}

.currentPosition {
	width: 0.6vw;
	height: 0.6vw;
}

.borderHorizontal {
	position: absolute;
	width: 100%;
	background-color: #FFF;
	z-index: 10;
}

.borderTop {
	top: 0%;
}

.borderBottom {
	bottom: 0%;
}

.hamburgerPlaceholder {
	position: fixed;
	top: 4vw;
	right: 4vw;
	Z-index: 4;
}

.hamburgerSlice {
	margin-bottom: 0.5vw;
	height: 0.2vw;
	width: 2.5vw;
	background-color: #FFF;
}

.smallLogoPlaceholder {
	position: fixed;
	top: 4vw;
	left: 4vw;
	z-index: 4;
}

.smallLogoPlaceholder .firstT {
	background-color: white;
	width: 1.3vw;
	height: 1.3vw;
	position: absolute;
}

.smallLogoPlaceholder .firstT h3 {
	font: 1.1vw gothamrnd, sans-serif;
	font-weight: bold;
	text-align: center;
	color: black;
	margin: 1%;
}

.smallLogoPlaceholder .secondSquared {
	position: absolute;
	left: 1.6vw;
	height: 1.3vw;
}

.smallLogoPlaceholder .secondSquared h3 {
	font: 1vw gothamrnd, sans-serif;
	font-weight: bold;
	text-align: center;
	color: white;
	margin: 1%;
}

.portofolioH2 {
  font: 2.6vw gothamrnd, sans-serif;
  text-align: center;
  position: relative;
  top: 83%;
  color: white;
  z-index: 4;
}

.background {
  max-height: 100%;
  background-position: center center;
  background-size: cover;
  background-clip: content-box;
  position: relative;
}

.content {
    overflow: hidden;
    position: relative;
}

.resizable {
}

.resizableWindow {
}

.shade {
	position: absolute;
	z-index: 1;
	background-color: rgb(4, 7, 15);
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

/* Logo style definitions */

.logoRight {
	position: absolute;
	border-top: 1.5vw solid #991B1E;
	border-bottom: 1.5vw solid #991B1E;
	border-right: 1.5vw solid #991B1E;
	z-index: 2;
	width: 6vw; 
	height: 12vw;
	left: 50%;
	top: 24%;
	box-sizing: border-box;
}

.logoLeft {
	position: absolute;
	height: 12vw;
	top: 24%;
	z-index: 2;
}

.tHorizontal {
	height: 1.5vw;
	width: 7.5vw;
	background-color: #ED1F24;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
	position: absolute;
	top: 0%;
	right: 0%;
}

.tVertical {
	height: 7.5vw;
	width: 4.5vw;
	margin-bottom: 1.5vw;
	border-left: 1.5vw solid #ED1F24;
	position: absolute;
	right: 0%;
}

.bottomDash {
	height: 1.5vw;
	width: 4.5vw;
	border-left: 1.5vw solid #991B1E;
	border-bottom: 1.5vw solid #991B1E;
	position: absolute;
	bottom: 0%;
	right: 0%;
}

/* Logo end */

/* Moto style definitions */
.moto {
	position: absolute;
	top: 60%;
	width: 100%;
	z-index: 3;
}

.moto p {
	font-family: gothamrnd, sans-serif;
	text-align: center;
	font-size: 3vw;
	margin: 0.3vw;
	color: white;
}

/* Moto end */

#content_left {
    float: left;
}

#content_right {
    float: right;
}

#portfolio {
    position: relative;
}

#aboutUs {
	background-color: rgb(17,17,17);
}

#aboutUs h1 {
	font: 3vw gothamrnd, sans-serif; 
	text-align: center;
	position: absolute;
	color: white;
	top: 25%;
	width: 100%;
}

#aboutUs h3 {
	font: 1vw gothamrnd, sans-serif; 
	text-align: center;
	position: absolute;
	color: white;
	top: 30%;
	width: 70%;
	margin: 15%;
}

#chat {
	background-color: rgb(34,48,71);
}

#aboutYou {
	background-color: rgb(29,39,56);
	text-align: center;
}

#aboutYou h2 {
	font: 2vw gothamrnd, sans-serif; 
	text-align: center;
	position: absolute;
	color: white;
	top: 25%;
	width: 100%;
}

#aboutYou h3 {
	font: 1vw gothamrnd, sans-serif; 
	text-align: center;
	color: white;
}

#aboutYou .submitCV {
	position: absolute;
	border: 0.2vw solid white;
	width: 33%;
	margin-left: 33%;
	margin-right: 33%;
	top: 45%;
	color: white;
}

#contact {
	background-color: rgb(17, 17, 17);
}

#contact h2 {
	font: 2vw gothamrnd, sans-serif; 
	text-align: center;
	color: white;
}

#contact .addresses {
	width: 100%;
	position: absolute;
	top: 60%;
}

#contact h3 {
	font: 1vw gothamrnd, sans-serif; 
	text-align: center;
	color: white;
	top: 40%;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	position: absolute;
}

#contact h1 {
	font: 3vw gothamrnd, sans-serif; 
	text-align: center;
	position: absolute;
	color: white;
	top: 25%;
	width: 100%;
}

.portfolioItem {
    float: left;
    width: 25%;
    height: 100%;
	background-color: rgb(10,12,35);
}

.itemShade {
	position: absolute;
	z-index: 3;
	background-color: rgb(4, 7, 15);
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

.itemShade:hover {
	opacity: 0;
}

.right {
    right: 100%;
}

.social {
	float: left;
}

.galleryContainer {
	position: absolute;
	z-index: 6;
	background-color: rgb(10,12,35);
	box-sizing: border-box;
}

.galleryItem {
	position: relative;
	float: left;
	display: block;
}