extends layout

block content
	.content
		.projects
			form#addProjectForm(action='projects/new', method='POST')
				label(for='newProject')= 'New Project Name:'
				input#newProject(type='text')
				input#submitNewProject(type='submit', value='Add Project')
			ul
				each project in projects
					li project.name
				li Coffee
				li Tea
				li Milk
		.pictures
			form#addFileForm(action='gallery/uploadPicture',  method='POST', enctype='multipart/form-data', accept='video/*,image/*')
				input#addPictures(type='file', name='pictures', multiple)
				br
				each galleryTag in galleryTags
					label(for=galleryTag)= galleryTag
					input(id=galleryTag, type='checkbox')
					br
				br
				input#submit(type='submit', value='Submit')
			#picturesListContainer
	script(type='application/javascript').
		$(document).ready(initGallery(!{JSON.stringify(systemTags)}));
