doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery-1.11.3.min.js", type="application/javascript")
		script(src="/javascripts/hermite.js", type="application/javascript")
		script(src="/javascripts/tSquareAdmin.js", type="application/javascript")
		style#resizableElement
	body
		.tabs
			.tab
				a#gallery(href='gallery').
					Gallery
			br
			.tab
				a#tags(href='tags').
					Tags
			br
			.tab
				a#users(href='users').
					Users
		br
		br
		block content
